.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
  .Loader {
    animation: App-logo-spin infinite 3s ease-in;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
}

.LoaderContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Loader {
  height: 100px;
}

.App-header {
  background-color: #adadad;
  height: 80px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoriesContainer, .goodContainer {
  width: 250px;
  min-height: 350px;
  padding: 10px;
}

.categories {
  background: #4db2ce;
  height: 100%;
  border-radius: 15px;
}

.details {
  cursor: pointer;
}

.goods {
  text-align: left;
}

.good {
  background: #ccdedd;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 100%;
}

.price {
  margin-bottom: 5px;
}

.imgGood {
  height: 150px;
}

.card_button_container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.card_button {
  border-radius: 10px;
  height: 2em;
  background: #4269cb;
  width: 50%;
  border: 0;
  align-self: center;
  cursor: pointer;
  margin: 10px;
}

.card_button:hover {
  background: #7095f3;
}
